/* CSS Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

/* Variables */

// Colors
$primary-clr: #00008b;
$primary-clr-500: #6495ed;
$black-clr: #000;
$black-clr-500: #333;
$white-clr: #ffff;
$light-clr: #fff8dc;
$danger-clr: #ff0000;
$smooth: all 0.3s ease-in-out;

/* Helpful Classes */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: $primary-clr-500;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-clr;
  transition: $smooth;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $danger-clr;
}

// Buttons
.btn {
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  outline: none;
  background-color: transparent;
  border-radius: 2rem;
  border: 1px solid $black-clr;
  font-size: 1.5rem;
  transition: $smooth;
  cursor: pointer;
}

.btn-primary {
  background-color: $primary-clr-500;
  color: $white-clr;
  &:hover {
    color: $black-clr;
    background-color: $white-clr;
  }
}

.btn-secondary {
  background-color: $black-clr-500;
  color: $white-clr;
  &:hover {
    background-color: $white-clr;
    color: $black-clr-500;
  }
}

// Section Heading
.section-heading {
  font-size: 5rem;
  width: max-content;
  padding: 1rem 2rem;
  text-align: center;
  margin: 2rem auto 4rem auto;
}

// Container
.container {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 70rem;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 80%;
    max-width: 100rem;
  }
}

@media (min-width: 1250px) {
  .container {
    max-width: 120rem;
  }
}
